* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 60px;
    width: 100%;
    max-width: 500px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.wrapper {
text-align: center;
    h1 {
        color: #fff;
        font-size: 40px;
        /* text-transform: uppercase; */
        font-weight: 700;
        font-family: "Josefin Sans", sans-serif;
        background: linear-gradient(to right,#095fab 5%, #25abe8 40%, #57d75b 60%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear ;
        display: inline-block;
    }
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
.wrapperVersion {
text-align: center;
    h1 {
        color: #fff;
        font-size: 20px;
        /* text-transform: uppercase; */
        font-weight: 700;
        font-family: "Josefin Sans", sans-serif;
        background: linear-gradient(to right,#095fab 5%, #25abe8 40%, #57d75b 60%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 3s linear ;
        display: inline-block;
    }
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007bff;
}

label {
    /* position: absolute; */
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #888;
    transition: 0.3s ease;
    pointer-events: none;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 0.8rem;
    color: #007bff;
    background-color: white;
    padding: 0 5px;
}

.login-btn {
    padding: 10px;
    font-size: 1.1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #0056b3;
}

.flash-messages {
    margin-bottom: 20px;
}

.flash-message {
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 5px;
}

.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
}
