<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morning Checks | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for ('static', filename='loginScript.js')}}" > </script>    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <form action="/" method="POST" class="login-form">
            <div class="wrapper">
                <h1>Morning Checks</h1><br><br>
                <div class="wrapperVersion">
                    <h1>Version: {{siteVersion}}</h1>
                </div>
                <hr><br>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="input-group">
                <input type="text" name="email" id="email" placeholder="Email Address" required>
                <label for="email">Email</label>
            </div>
            <div class="input-group">
                <input type="password" name="password" id="password" placeholder="Password" required>
                <label for="password">Password</label>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
    </div>
</body>
</html>
